@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  @apply !bg-red-500;
}

.ql-container.ql-snow {
  @apply rounded-bl-md rounded-br-md !border-gray-300;
}

.ql-toolbar.ql-snow {
  @apply rounded-tl-md rounded-tr-md !border-gray-300;
}

.ql-editor.ql-blank::before {
  @apply text-base !not-italic;
}

.ql-editor {
  @apply text-base;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #002333;
  /* background-color: black; */
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline;
  font-size: var(--font-size);
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    #303960 var(--percent),
    #d8d8d8 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-dashed {
  background-image: repeating-linear-gradient(
      -26deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    ),
    repeating-linear-gradient(
      64deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    ),
    repeating-linear-gradient(
      154deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    ),
    repeating-linear-gradient(
      244deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    );
  background-size: 2px calc(100% + 38.94px), calc(100% + 38.94px) 2px,
    2px calc(100% + 38.94px), calc(100% + 38.94px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 2s infinite linear;
  border-radius: 10px;
}

.stepWebkitSetting {
  -webkit-transform: translate3d(0, 0, 0);
}

/* .rdp-month {
  @apply !w-full;
} */

.rdp-table {
  @apply !w-full !max-w-none;
}

.rdp-cell {
  @apply !w-[44px] !h-[44px] sm:!w-12 sm:!h-12 rounded-full outline-none transition-colors ease-linear duration-200;
}

.rdp-day {
  @apply !w-full !h-full !max-w-none;
}

.rdp-button:focus:not([disabled]),
.rdp-button:active:not([disabled]) {
  @apply outline-none !bg-blue-400 !border-none;
}

.rdp:not(.rdp--interactionDisabled)
  .rdp-day:not(.rdp-day--disabled):not(.rdp-day--selected):not(.rdp-day--outside):hover {
  @apply !bg-blue-200;
}

.DayPicker-wrapper {
  @apply !outline-none bg-white p-0 py-2 rounded-2xl shadow-xl border border-gray-200;
}

.rdp-day_selected:not([disabled]),
.rdp-day_selected:focus:not([disabled]),
.rdp-day_selected:active:not([disabled]),
.rdp-day_selected:hover:not([disabled]) {
  @apply !bg-blue-400;
}

.rdp-button {
  @apply !outline-none;
}

.rdp-cell--selected {
  @apply !bg-blue-400 !rounded-full w-10 h-10 sm:!w-12 sm:!h-12 outline-none transition-colors ease-linear duration-200;
}

.swiper-pagination > .swiper-pagination-bullet {
  @apply opacity-100 w-2.5 h-2.5;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  @apply bg-white;
}

.css-26l3qy-menu {
  @apply !z-40;
}

.css-1s2u09g-control {
  @apply !border-none !px-0 !py-0 !bg-inherit;
}

.css-1pahdxg-control {
  @apply !border-none !px-0 !py-0 !bg-inherit !shadow-none;
}

.css-319lph-ValueContainer {
  @apply !px-0 !py-0;
}

.css-6j8wv5-Input input {
  @apply outline-none focus:outline-none;
}

.css-26l3qy-menu {
  @apply !w-full smMobile:!w-72 !rounded-lg !overflow-hidden !shadow-xl !border-gray-200 !border;
}

.css-1n7v3ny-option {
  @apply !bg-blue-100 transition-all duration-300 ease-linear !py-2.5 !px-2;
}

.css-9gakcf-option {
  @apply !bg-blue-500 transition-all duration-300 ease-linear !py-2.5 !px-2;
}

.css-yt9ioa-option {
  @apply !py-2.5 !px-2;
}

.css-4ljt47-MenuList {
  @apply !py-0;
}

/* .mapboxgl-map {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100% !important;
} */

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.image-picker-container .swiper-slide {
  position: relative;
}

.image-picker-container .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  border-radius: 0.75rem;
  opacity: 0.6;
}

.image-picker-container .swiper-slide-thumb-active {
  opacity: 1;
}

.image-picker-container .swiper-slide-thumb-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  border-radius: 0.75rem;
}

.remove-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.remove-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
