@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  @apply !bg-red-500;
}

.mapboxgl-map {
  @apply md:!rounded-tl-3xl md:!rounded-bl-3xl;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.ql-container.ql-snow {
  @apply rounded-bl-md rounded-br-md !border-gray-300;
}

.ql-toolbar.ql-snow {
  @apply rounded-tl-md rounded-tr-md !border-gray-300;
}

.ql-editor.ql-blank::before {
  @apply text-base !not-italic;
}

.ql-editor {
  @apply text-base;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #002333;
  /* background-color: black; */
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline;
  font-size: var(--font-size);
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    #fca311 var(--percent),
    #d8d8d8 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-dashed {
  background-image: repeating-linear-gradient(
      -26deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    ),
    repeating-linear-gradient(
      64deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    ),
    repeating-linear-gradient(
      154deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    ),
    repeating-linear-gradient(
      244deg,
      #ff2626,
      #ff2626 22px,
      transparent 22px,
      transparent 35px,
      #ff2626 35px
    );
  background-size: 2px calc(100% + 38.94px), calc(100% + 38.94px) 2px,
    2px calc(100% + 38.94px), calc(100% + 38.94px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 2s infinite linear;
  border-radius: 10px;
}

.DayPicker-Day {
  @apply w-10 h-10 sm:!w-12 sm:!h-12 rounded-full outline-none transition-colors ease-linear duration-200;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  @apply !bg-red-100;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  @apply !bg-red-500;
}

.DayPicker-wrapper {
  @apply !outline-none bg-white p-0 py-2 rounded-2xl shadow-xl border border-gray-200;
}

.DayPicker-NavButton {
  @apply !outline-none;
}

.DayPicker-Day--selected {
  @apply !bg-red-600 !rounded-full w-10 h-10 sm:!w-12 sm:!h-12 outline-none transition-colors ease-linear duration-200;
}

.swiper-pagination > .swiper-pagination-bullet {
  @apply opacity-100 w-2.5 h-2.5;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  @apply bg-white;
}

.css-26l3qy-menu {
  @apply !z-40;
}

.css-1s2u09g-control {
  @apply !border-none !px-0 !py-0 !bg-inherit;
}

.css-1pahdxg-control {
  @apply !border-none !px-0 !py-0 !bg-inherit !shadow-none;
}

.css-319lph-ValueContainer {
  @apply !px-0 !py-0;
}

.css-6j8wv5-Input input {
  @apply outline-none focus:outline-none;
}

.css-26l3qy-menu {
  @apply !w-full smMobile:!w-72 !rounded-lg !shadow-xl !border-gray-200 !border !overflow-hidden;
}

.css-1n7v3ny-option {
  @apply !bg-red-100 transition-all duration-300 ease-linear !py-2.5 !px-2;
}

.css-9gakcf-option {
  @apply !bg-red-500 transition-all duration-300 ease-linear !py-2.5 !px-2;
}

.css-yt9ioa-option {
  @apply !py-2.5 !px-2;
}

.css-4ljt47-MenuList {
  @apply !py-0;
}

/* .mapboxgl-map {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100% !important;
} */

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
